<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sungness.code.generate.dao.InformationSchemaTableMapper">

    <sql id="tableName">tables</sql>

    <sql id="columns">
        table_catalog, table_schema, table_name, table_type, engine, version,
        row_format, table_collation, table_comment
    </sql>

    <sql id="dynamicWhere">
        <where>
            <if test="tableSchema not in {null, ''}">table_schema = #{tableSchema}</if>
            <if test="tableName not in {null, ''}">AND table_name = #{tableName}</if>
        </where>
    </sql>

    <select id="getCount" resultType="int">
        SELECT COUNT(1)
        FROM <include refid="tableName"/>
        <include refid="dynamicWhere"/>
    </select>

    <select id="getList" resultType="InformationSchemaTable">
        SELECT <include refid="columns"/>
        FROM <include refid="tableName"/>
        <include refid="dynamicWhere"/>
    </select>
</mapper>